@import "~taro-ui/dist/style/components/tabs.scss";
@import '@/assets/sass/custom.scss';

.logIn{
    padding:0 30rpx 10rpx;
    overflow: hidden;
   .register{
       float: right;
       color:#fff;
       padding:10px 0 0 0;

   } 
   .logInCon{
       margin:150rpx 0 0 0;
       box-shadow: 0px 2rpx 14rpx -4rpx rgba(13,1,1,0.5);
       border-radius: 20rpx;
       
       .at-tabs{
            border-radius: 20rpx;

            .at-tabs__header{
                .at-tabs__item{
                    font-size: $normalSize;
                }
                .at-tabs__item--active{
                    color:$bgOrange;
                }
                .at-tabs__item-underline{
                    background:$bgOrange;
                    height: 6rpx;
                }

            }

            
       }
       .at-tabs-pane{
           width:100%;
           height:530rpx;
           .logInConPane{
               height:100%;
               background: #fff;
               
           
            }
       }

       
   }
}