// color
$bgOrange: #F77B1A;
$colorRed: #D02E37;

$blue: #508dd7;
$colorBlack: #333;
$lightBlack: #666;
$gray: #f2f2f2;


$grayMask:rgba(206,206,206,0.3);
$colorOrange: #FD8524;
$colorGreen: #44A66A;
$colorGreenLight: #c3e5a1;
$colorDarkGreen: #a8d37d;

$colorBlue: #3E8DDD;
$linkBlue:#108ee9;
$btnHoverBlue:#49A9EE;
$btnDisabled:#D7D7D7;
$btnDisabledHover:#E4E4E4;
$colorBlueLight: #ECF6FD;
$colorWhite: #fff;
$colorCornflowerBlue: #009;
$colorGray: #999;
$colorGrayLight: #eee;

$cartsGreen:#46c8e1;
$borderColorHeader:#e8e8e8;
$textHight:#e2231A;

$backgroundGray:#f6f6f6;
$backgroundBlue:#1890ff;
$backgroundTabGray:#bcbcbc;

$borderBlue:#40a9ff;

$hoverBlue:#e6f7ff;
$hoverBlueDeep:#8cc8ff;

$placeholderGray:#d0dbe2;

          


$antdColorBlueLight: #88C7F4;



//font size
$normalSize:32rpx;
$smallSize:28rpx;

$biggerSize: 22px;
$bigSize: 20px;
$maxSize: 18px;
$middleSize: 16px;
$smallerSize:12px;

